<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num_periodos_dia %><br />
    <%= f.number_field :num_periodos_dia %>
  </div>
    </br>
    <div class="field">
      <%= f.label :nome_grade %><br />
      <%= f.text_field :nome_grade %>
    </div>

   </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
