<h2> Nova Grade Gerada:</h2>

<p id="notice"><%= notice %></p>

<table border ="true">

  <th><b>ID grade:</b></th>

  <td><%= @grade.id%></td>

  <th><b> CUSTO:</b></th>

  <td><%= @custo_grade%></td>

</table>

</br>

<% feiras = dias_da_semana # uso do helper da grade %>
<% @cada_turma = Turma.all %>

<% feiras.each{|feira| %>
    <th><b> <%= feira %></b></th>

    <% unless @grade.horarios.empty? %>
        <table class = "horarios constantes da grade" summary="horarios da grade#{@grade.id}" >

          <%# @cada_turma.each{|nome_turma| %>
          <%# nome_turma.nome_turma %>
          <% @grade_gerada.each{|horarios_da_grade|%>
              <% @slot_da_disciplina = Slot.find_by_id(horarios_da_grade.slot_id).disciplina_id %>
              <% @slot_do_professor = Slot.find_by_id(horarios_da_grade.slot_id).professor_id %>
              <% @materia = Disciplina.find_by_id(@slot_da_disciplina).nome_disciplina%>
              <% @professor = Professor.find_by_id(@slot_do_professor).nome_professor %>
              <% if horarios_da_grade.dia_semana == feira %>
                  <tr>
                    <td><%= horarios_da_grade.horario_inicio%></td>
                    <td><%= @materia %></td>
                    <td><%= @professor %></td>
                  </tr>
                  <%#render @grade.horarios%>
              <% end %>
          <% } %>

        </table>
        <%# will_paginate @grade.horarios %>
    <% end %>
<% } %>
