<h1>Grades definidas</h1>

<table>
  <tr>
    <th> ID da grade </th>
    <th> Nome da grade</th>
    <th> Periodos por dia </th> <br />
  </tr>
  <% unless @grades.empty? %>
    <% @grades.each do |grade| %>
      <tr>
            <%# @id_turma = grade.turma_id %>
            <%# @mostra_turma = Turma.find_by_id(@id_turma).nome_turma%>
        <td><%= grade.id %></td>
        <td><%= grade.nome_grade %></td>
        <td><%= grade.num_periodos_dia %></td>
        <td><%= link_to 'Mostrar Grade',  grade %></td>
        <td><%= link_to 'Editar', edit_grade_path(grade) %></td>
        <td><%= link_to 'Excluir', grade, method: :delete, data: { confirm: 'Tem certeza que deseja excluir grade atual?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to 'New Grade', new_grade_path %>
