
<p id="notice"><%= notice %></p>
<link rel="grades.css.scss" type="text/css" href="grades.css.scss" />
<table border ="true">

  <th><b>ID grade:</b></th>
  <td><%= @grade.id%></td>
  <th><b> Custo:</b></th>
  <td><%= @grade.custo%></td>

</table>

</br>

  <% feiras = dias_da_semana # uso do helper da grade %>
  <% @cada_turma = Turma.all %>
  <% i, cont = 0,1 %>


    <% unless @grade.horarios.empty? %>
      <table border = "true">
        <% vetor_final = []
           slots_finais = @grade.horarios.reverse
            slots_finais.each{ |hor|
              vetor_final << hor.slot_id  }
        %>

        <% vetor_final %>

        <tr><th rowspan="2"> Turma</th><th colspan="5"> Segunda</th> <th colspan="5"> Terça </th>
           <th colspan="5"> Quarta</th><th colspan="5"> Quinta </th><th colspan="5"> Sexta </th></tr>
            <% tam = (feiras.size)+1 %>
            <% tam.times{ %>
               <% @grade.num_periodos_dia.times{
                      if i == feiras.size
                        i = 0
                      else  i+=1 %>
                        <td> <%= i  %></td>
                      <% end %>
                 <% } %>
            <% } %>
          <% @cada_turma.each{|turma| %>
            <tr><th> <%= turma.nome_turma %> </th>
                 <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
              <td> <%= vetor_final.pop %> </td>
            </tr>
            <% } %>
      </table>
   <% end %>

<%= link_to 'Edit', edit_grade_path(@grade) %>
<%= link_to 'Back', grades_path %>

