<%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :professor %><br />
    <% @todos_professores= Professor.all.map{|p| [ p.nome_professor, p.id]} %>
    <%= f.select(:professor_id,@todos_professores) %>
    <%# options_from_collection_for_select(Professor.all, :id, :professor) %>
  </div>
    </br>
  <div class="field">
    <%= f.label :disciplina %><br />
    <% @todas_disciplinas = Disciplina.all.map{|p| [ p.nome_disciplina, p.id]} %>
    <%= f.select(:disciplina_id,@todas_disciplinas) %>
    <%# options_from_collection_for_select(Disciplina.all, :id, :disciplina) %>
  </div>
    </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
