<h1>Agendamentos </h1>
<h4> Cada professor é associado a uma ou mais disciplinas</h4>

<table>
  <tr>
    <th>Professor</th>
    <th>Disciplina</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slots.each do |slot| %>
  <tr>
    <% @slot_prof = slot.professor_id %>
    <% @slot_disc = slot.disciplina_id %>
    <td><%= Professor.find_by_id(@slot_prof).nome_professor %> </td>
    <td><%= Disciplina.find_by_id(@slot_disc).nome_disciplina %> </td>
    <td><%= link_to 'Show', slot %></td>
    <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
    <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<h4> Para atribuir um profesor a uma disciplina</h4>
<%= link_to 'Adicionar', new_slot_path %>
