<p id="notice"><%= notice %></p>

<% @slots = Slot.all %>
<% @slots.each do |slot| %>
    <tr>
      <% @slot_prof = slot.professor_id %>
      <% @slot_disc = slot.disciplina_id %>
    </tr>
<% end %>
<p>
  <b>Professor:</b>
  <% @nome_prof = Professor.find_by_id(@slot_prof).nome_professor %>
  <%= @nome_prof %>
</p>

<p>
  <b>Disciplina:</b>
  <% @nome_disc = Disciplina.find_by_id(@slot_disc).nome_disciplina %>
  <%= @nome_disc %>

</p>


<%= link_to 'Editar', edit_slot_path(@slot) %>
<%= link_to 'Volta', slots_path %>
