<%= form_for(@disciplina) do |f| %>
  <% if @disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% @disciplina.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_disciplina %><br />
    <%= f.text_field :nome_disciplina %>
  </div>
  <div class="field">
    <%= f.label :fator %><br />
    <%= f.number_field :fator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
