<h1>Listing disciplinas</h1>

<table>
  <tr>
    <th>Nome disciplina</th>
    <th>Fator</th>
    <th></th>
    <th></th>
  </tr>
  <%@soma_fator = 0 %>
<% @disciplinas.each do |disciplina| %>
  <tr>
    <% @soma_fator = @soma_fator + disciplina.fator%>
    <td><%= disciplina.nome_disciplina %></td>
    <td><%= disciplina.fator %></td>
    <td><%= link_to 'Mostra', disciplina %></td>
    <td><%= link_to 'Editar', edit_disciplina_path(disciplina) %></td>
    <td><%= link_to 'Excluir', disciplina, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>
<br />
<h5> O fator é a quantidade de aulas semanais de uma determinada disciplina  </h5>
<p><h4>Total de periodos necessarios para um grade com as disciplinas definidas: <%= @soma_fator %></h4></p>

<%= link_to 'Nova Disciplina', new_disciplina_path %>
