<p id="notice"><%= notice %></p>

<p>
  <b>Nome disciplina:</b>
  <%= @disciplina.nome_disciplina %>
</p>


<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
