<h1>Cadastro de Turmas</h1>

<table>
  <tr>
    <th>Nome turma</th>
    <th>Grade</th>

  </tr>

<% @turmas.each do |turma| %>
  <tr>
    <td><%= turma.nome_turma %></td>
    <td><%= turma.grade_id %></td>
    <td><%= link_to 'Show', turma %></td>
    <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
    <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turma', new_turma_path %>
