<p id="notice"><%= notice %></p>

<p>
  <b>Nome turma:</b>
  <%= @turma.nome_turma %>
</p>

<p>
  <b>Grade:</b>
  <%= @turma.grade_id %>
</p>


<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
