<%= form_for(@horario) do |f| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dia_semana %><br />
    <% #dias_da_semana # = %w{segunda terca quarta quinta sexta sabado} %>
    <%= f.select(:dia_semana, dias_da_semana) %>
  </div>
  <div class="field">
    <%= f.label :slot %><br />
    <% @todos_slots = Slot.all.map{|p| [p.disciplina_id,p.id]} %>
    <%= f.select(:slot_id, @todos_slots) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
