<h1>Listando horarios</h1>


<br>
<table border="true">
  <tr>
    <th>Horário ID</th>
    <th>Hora inicio</th>
    <th>Dia da semana</th>
    <th>Turma</th>
    <th>Slot</th>
    <th>Grade</th>
  </tr>
<% feira = dias_da_semana %>
<% @horarios.each do |horario| %>

 <% feira.each do |dia| %>
   <% @slot_do_horario = Slot.find_by_id(horario.slot_id) %>
          <% @materia = Disciplina.find_by_slot_id(@slot_do_horario)%>
  <% if horario.dia_semana == dia %>
   <tr>
    <td><%=horario.id %></td>
    <td><%= horario.horario_inicio %></td>
    <td><%= dia %></td>
    <td><%= horario.turma_id %></td>
    <td><%=horario.slot_id %></td>
    <td><%= horario.grade_id %></td>
    <td><%= link_to 'Mostrar', horario %></td>
    <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
    <td><%= link_to 'Excluir', horario, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?'} %></td>
   </tr>
  <%  end  %>
 <% end %>
<% end %>
  <tr> </tr>
</table>

  <br />
  <%= link_to 'Novo Horario', new_horario_path %>