<p id="notice"><%= notice %></p>

<p>
  <b>Dia da semana:</b>
  <%= @horario.dia_semana %>
</p>

<p>
  <b>Horario:</b>
  <%= @horario.horario_inicio %>
</p>

<p>
  <b>Slot:</b>
  <%= @horario.slot.disciplina %>
</p>

<p>
  <b>Turma do horário:</b>
  <%= @horario.turma_id %>
</p>


<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
