<%= form_for(@grade_restrico) do |f| %>
  <% if @grade_restrico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade_restrico.errors.count, "error") %> prohibited this grade_restrico from being saved:</h2>

      <ul>
      <% @grade_restrico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_professor %><br />
    <% @nomes_de_profes = Professor.all.map{|cada|[cada.nome_professor, cada.id]}%>
    <%= select_tag(:nome_professor_id, options_for_select(@nomes_de_profes)) %>
  </div>
  <div>
    <p>
    Escolha entre 0, 1 , 2 ou 3 conforme o nível de restrição
    Sendo 0 - nenhuma restrição
          1 - restrição baixa
          2 - restrição média
          3 - restrição alta
    </p>
  </div>

    <div class="grade em si">

    <table>
      <% dias_da_semana.each {|feira| %>
      <th><%= dias_da_semana} %>  </th>
      <% tam_grade = Grade.num_periodos_dia %>
      <tr> </tr>

      <%= %>
    </table>



  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
