<h1>Listing grade_restricos</h1>

<table>
  <tr>
    <th>Nome professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grade_restricos.each do |grade_restrico| %>
  <tr>
    <td><%= grade_restrico.nome_professor %></td>
    <td><%= link_to 'Show', grade_restrico %></td>
    <td><%= link_to 'Edit', edit_grade_restrico_path(grade_restrico) %></td>
    <td><%= link_to 'Destroy', grade_restrico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade restrico', new_grade_restrico_path %>
