<p id="notice"><%= notice %></p>

<p>
  <b>Nome professor:</b>
  <%= @grade_restrico.nome_professor %>
</p>


<%= link_to 'Edit', edit_grade_restrico_path(@grade_restrico) %> |
<%= link_to 'Back', grade_restricos_path %>
