<p id="notice"><%= notice %></p>

<p>
  <b>Nome professor:</b>
  <%= @professor.nome_professor %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
