Chartkick.options = {
height: "400px",
colors: ["pink", "#999"]
}

<%= area_chart Visit.group_by_minute(:created_at).maximum(:load_time) %>

<%= line_chart User.group_by_day(:created_at).count %>

<%= column_chart Task.group_by_hour_of_day(:created_at, format: "%l %P").count %>

<%= timeline [
                     ["Washington", "1789-04-29", "1797-03-03"],
                     ["Adams", "1797-03-03", "1801-03-03"],
                     ["Jefferson", "1801-03-03", "1809-03-03"]
             ] %>

<%= line_chart @goals.map{|goal|
  {name: goal.name, data: goal.feats.group_by_week(:created_at).count}
} %>