<html>
<head>
  <title>Gerador de horários ver. 1.2</title>

  <h1 id="titulo">Gerador de horários</h1>
  <%= stylesheet_link_tag    "bootstrap.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home",home_path %>
<%= link_to "Turmas", nova_turma_path %>
<%= link_to "Professores", novo_professor_path %>
<%= link_to "Disciplinas",nova_disciplina_path %>
<%= link_to "Atribuicoes", novo_slot_path %>
<%= link_to "Horarios ", novo_horario_path %>
<%= yield %>

<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
